<!DOCTYPE html>
<html ng-app="VisApp">
  <head>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=EmulateIE9">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sushanth">
    <meta http-equiv="refresh" content="6000">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/basic.css" rel="stylesheet">
    <link href="css/feature.css" rel="stylesheet">
    <link href="css/custom-styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="http://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="screen" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/pin.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/docs.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/modal.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <title>Data Analytics Templates</title>
  </head>

  <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
  <script type="text/javascript">
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 50) {        
                $('#return-to-top').fadeIn(200);    
            } else {
                $('#return-to-top').fadeOut(200);   
            }
        });
        $('#return-to-top').click(function() {     
            $('body,html').animate({
                scrollTop : 0             
            }, 500);
        });

        var VisApp = angular.module("VisApp",[]);
        VisApp.controller("visCtrl",function($scope){
            $scope.employees = [
  {
    "title": "Area Chart",
    "url": "area.html"
  },
  {
    "title": "Aster Plot",
    "url": "asterPlot.html"
  },
  {
    "title": "Bar Chart",
    "url": "bar.html"
  },
  {
    "title": "Biverate Area",
    "url": "biverateArea.html"
  },
  {
    "title": "Bubble Chart",
    "url": "bubble.html"
  },
  {
    "title": "Calender Map",
    "url": "calenderMap.html"
  },
  {
    "title": "Cartogram Filter USCounty",
    "url": "cartogramFilterUSCounty.html"
  },
  {
    "title": "Cartogram USCounty",
    "url": "cartogramUSCounty.html"
  },
  {
    "title": "Cartogram USState",
    "url": "cartogramUSState.html"
  },
  {
    "title": "Cartogram USZipcode",
    "url": "cartogramUSZipcode.html"
  },
  {
    "title": "Chord Diagram",
    "url": "chord.html"
  },
  {
    "title": "Correlation Matrix",
    "url": "correlationMatrix.html"
  },
  {
    "title": "Difference Area",
    "url": "differenceArea.html"
  },
  {
    "title": "Donut",
    "url": "donut.html"
  },
  {
    "title": "Dual Scale Bar",
    "url": "dualScaleBar.html"
  },
  {
    "title": "Ecg Chart",
    "url": "ecg.html"
  },
  {
    "title": "Force Layout",
    "url": "forceLayout.html"
  },
  {
    "title": "Gauge Chart",
    "url": "gauge.html"
  },
  {
    "title": "Grouped Bar",
    "url": "groupedBar.html"
  },
  {
    "title": "Grouped Bar Plus Line",
    "url": "groupedBarPlusLine.html"
  },
  {
    "title": "Heat Map",
    "url": "heatMap.html"
  },
  {
    "title": "Histogram",
    "url": "histogram.html"
  },
  {
    "title": "Regular Histogram",
    "url": "histogramRegular.html"
  },
  {
    "title": "Horizontal Bar",
    "url": "horizontalBar.html"
  },
  {
    "title": "Horizontal Grouped Bar",
    "url": "horizontalGroupedBar.html"
  },
  {
    "title": "Horizontal Stacked Bar",
    "url": "horizontalStackedBar.html"
  },
  {
    "title": "Line Chart",
    "url": "line.html"
  },
  {
    "title": "Marimekko Chart",
    "url": "marimekko.html"
  },
  {
    "title": "Multi Line Chart",
    "url": "multiLine.html"
  },
  {
    "title": "Negative Area",
    "url": "negativeArea.html"
  },
  {
    "title": "Negative Bar",
    "url": "negativeBar.html"
  },
  {
    "title": "Negative Stacked Bar",
    "url": "negativeStackedBar.html"
  },
  {
    "title": "Normalized Horizontal Stacked Bar",
    "url": "normalizedHorizontalStackedBar.html"
  },
  {
    "title": "Normalized Radial Stacked Bar",
    "url": "normalizedRadialStackedBar.html"
  },
  {
    "title": "Normalized Stacked Area",
    "url": "normalizedStackedArea.html"
  },
  {
    "title": "Normalized Stacked Bar",
    "url": "normalizedStackedBar.html"
  },
  {
    "title": "Normalized Stacked Bar Plus Line",
    "url": "normalizedStackedBarPlusLine.html"
  },
  {
    "title": "Circular Progress Chart",
    "url": "progress.html"
  },
  {
    "title": "Pareto Chart",
    "url": "paretoChart.html"
  },  
  {
    "title": "Radial Stacked Bar",
    "url": "radialStackedBar.html"
  },
  {
    "title": "Sankey Diagram",
    "url": "sankey.html"
  },
  {
    "title": "Scatter Plot",
    "url": "scatterPlot.html"
  },
  {
    "title": "Stacked Area",
    "url": "stackedArea.html"
  },
  {
    "title": "Stacked Bar",
    "url": "stackedBar.html"
  },
  {
    "title": "Stacked Bar Plus Line",
    "url": "stackedBarPlusLine.html"
  },
  {
    "title": "Tabular View",
    "url": "tabularView.html"
  },
  {
    "title": "Tree Diagram",
    "url": "treeDiagram.html"
  },
  {
    "title": "Tree Layout",
    "url": "treeLayout.html"
  },
  {
    "title": "Treemap",
    "url": "treemap.html"
  },
  {
    "title": "word Cloud",
    "url": "wordCloud.html"
  },
  {
    "title": "Zoomable Area",
    "url": "zoomableArea.html"
  },
  {
    "title": "Zoomable Bubble Axis",
    "url": "zoomableBubbleAxis.html"
  },
  {
    "title": "Zoomable Multi Line",
    "url": "zoomableMultiLine.html"
  },
  {
    "title": "zoomable Scatter Plot",
    "url": "zoomableScatterPlot.html"
  },
  {
    "title": "zoomable Stacked Area",
    "url": "zoomable Stacked Area.html"
  },
  {
    "title": "zoomable Stacked Bar",
    "url": "zoomable Stacked Bar.html"
  }
];
    $scope.orderProp="name";                
        });
   
</script>
 <body class="theme-beige" ng-controller="visCtrl" >
    <div class="container">
        <div class="row">
            <p class="heading-part"><img src="images/sutherland-logo-top.fw.png"></p>
        </div>
    </div>

  <div class="container">
     <div class="row">
     <div class="col-md-12">
     <p class="form-inline" align="center">
        Search : <input type="text" class="search" placeholder="eg: Treemap" ng-model="query"/>
    </div>
    </p>
    </div>
    
  <div class="inner">
    <div align="center">
        <div class="entry" ng-repeat="emp in employees | filter:query" >
            <a href="{{emp.url}}" class="demo thumbnail pull-left">
                <h3 align="left">{{emp.title}}</h3>
            </a>
        </div>
    </div>
  </div>
  
   </div>
 </body>
</html>