<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Cartogram</title>
<style>

.land {
  stroke: #ccc;
}

.state {
  stroke: #666;
}


</style>
<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="js/d3.v3.min.js"></script>
<script type="text/javascript" src="js/jquery.tipsy.js"></script>
<script type="text/javascript" src="js/topojson.v1.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="css/tipsy.css">
</head>
<body>
    <div id="chartContainer">
        <div id="chart1"></div>
    </div>

<script>

    var sampleData ={};  
    ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
    "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
    "MI", "WY", "MT", "ID", "WA", "DC", "TX", "CA", "AZ", "NV", "UT", 
    "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
    "WI", "MO", "AR", "OK", "KS", "LS", "VA"].forEach(function(d){ 
            var low=Math.round(100*Math.random()), 
                mid=Math.round(100*Math.random()), 
                high=Math.round(100*Math.random());
                sampleData[d]={low:d3.min([low,mid,high]), high:d3.max([low,mid,high]), 
                avg:Math.round((low+mid+high)/3), color:d3.interpolate("#ffffcc", "#800026")(low/100)}; 
        });

function cartogramUSStateChar(config, data){

    var elementId = config.chartSetting.elementId;

    var height = config.chartSetting.height
    var width = config.chartSetting.width

var margin = config.chartSetting.margin;
var width = width - margin.left - margin.right;
var height = height - margin.top - margin.bottom;

var colorArray = config.chartSetting.colorArray;

var path = d3.geo.path()


var svg = d3.select("#" + elementId).append("svg")
     .attr("width", "100%")
     .attr("viewBox", "0 0 "+(width + margin.left + margin.right)+' '+(height + margin.top + margin.bottom))
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


d3.csv("data/county.csv", function(error, county) {

d3.json("data/us.json", function(error, us) {

  if (error) throw error;
  
    var centered;
     svg.append("rect")
            .attr("class", "background")
            .attr("width", width)
            .attr("height", height)
            .attr("fill",'none')
            .attr("pointer-events",'all')
            .on("click", clicked)

  county.forEach(function(m){
    m.population = parseInt(m.population)
  });
  
var color = d3.scale.linear().range(["#ff0000", "#ffff00","#00ff00"])
    .domain([d3.min(county, function (d) { return d.population })*.9,(d3.min(county, function (d) { return d.population })+d3.max(county, function (d) { return d.population }))/2,d3.max(county, function (d) { return d.population })*1.1])

/*id_mapper = {10:"Delaware",11:"District of Columbia",12:"Florida",13:"Georgia",15:"Hawaii",16:"Idaho",17:"Illinois",18:"Indiana",19:"Iowa",20:"Kansas",21:"Kentucky",22:"Louisiana",23:"Maine",24:"Maryland",25:"Massachusetts",26:"Michigan",27:"Minnesota",28:"Mississippi",29:"Missouri",30:"Montana",31:"Nebraska",32:"Nevada",33:"New Hampshire",34:"New Jersey",35:"New Mexico",36:"New York",37:"North Carolina",38:"North Dakota",39:"Ohio",40:"Oklahoma",41:"Oregon",42:"Pennsylvania",44:"Rhode Island",45:"South Carolina",46:"South Dakota",47:"Tennessee",48:"Texas",49:"Utah",50:"Vermont",51:"Virginia",53:"Washington",54:"West Virginia",55:"Wisconsin",56:"Wyoming",72:"Puerto Rico",01:"Alabama",02:"Alaska",04:"Arizona",05:"Arkansas",06:"California",08:"Colorado",09:"Connecticut",78:"U.S. Virgin Islands"};
  */
  var g = svg.append("g");

  county.forEach(function(m){
    us.objects.counties.geometries.forEach(function(d) {
       
      if (m.county_id==d.id){
          d.properties = {}
          d.properties['state_name'] = m.state
          d.properties['population_1'] = m.population
          d.properties['county_name'] = m.county_name
       }  
     });
  });
  
  g.append("path")
      .datum(topojson.feature(us, us.objects.land))
      .attr("class", "land")
      .attr("d", path);

g.selectAll(".overview")
      .data(topojson.feature(us, us.objects.states).features)
    .enter().append("path")
      .attr("class", "overview")
      .attr("d", path)
      .attr("stroke", '#000')
      .attr("stroke-width", 2 );
    
  g.selectAll(".state")
      .data(topojson.feature(us, us.objects.counties).features)
    .enter().append("path")
      .attr("class", "state")
      .attr("d", path)
     .attr("fill", function(d) {  return color(d.properties.population_1); })
      .style("stroke-width", 1 )
     .on("click", clicked);


      function addThousandsSeparator(t){
          var a=t;if(parseFloat(t)){t=new String(t);var e=t.split(".");e[0]=e[0].split("").reverse().join("").replace(/(\d{3})(?!$)/g,"$1,").split("").reverse().join(""),a=e.join(".")}
           return a
      }

function clicked(d) {
      
          var x, y, k;
          if (d && centered !== d) {
            var centroid = path.centroid(d);
            x = centroid[0];
            y = centroid[1];
            k = 4;
            centered = d;
          } else {
            x = width / 2;
            y = height / 2;
            k = 1;
            centered = null;
          }

          g.selectAll("path")
              .classed("active", centered && function(d) { return d === centered; });

          g.transition()
              .duration(750)
              .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")scale(" + Math.sqrt(k) + ")translate(" + -x + "," + -y + ")")
              .style("stroke-width", 1.5 / k + "px");

}
  
$('.state').tipsy({ 
        gravity: 'w', 
        html: true, 
        title: function() {
          var d = this.__data__;
          if (d.properties.county_name==undefined) { console.log(d.id); }
          return "State : "+d.properties.state_name+"<br/> County : "+d.properties.county_name+'   <br/> Population : '+addThousandsSeparator(d.properties.population_1);
        }
});

});
});

}

var config = {
    chartSetting : {
        elementId : "chart1",
        adaptive: "true",
        width : 1200,
        height : 540,
        margin : { 
            top: 10,
            right: 10,
            bottom: 10,
            left: 10
        },
        colorArray : ["#69d900", "#00a3d9", "#00d3a9", "#ffd24d"],       
    }
}

cartogramUSStateChar(config,'hai');

</script>
</body>
</html>