<!DOCTYPE html>
<meta charset="utf-8">
<head>
<style>
    text {
        font: 12px sans-serif;
    }
    
    .axis {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
</style>
<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="js/d3.v3.min.js"></script>
<script type="text/javascript" src="js/jquery.tipsy.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="css/tipsy.css">
</head>
<body>

<div id="chartContainer">
    <div id="chart1"></div>
</div>
<script>

var data = [
  {
    "month": "Jan",
    "Referral": 90,
    "Payments": 60,
    "Adjustments": 10,
    "Write-off": 12
  },
  {
    "month": "Feb",
    "Referral": 80,
    "Payments": 30,
    "Adjustments": 20,
    "Write-off": 14
  },
  {
    "month": "Mar",
    "Referral": 70,
    "Payments": 70,
    "Adjustments": 20,
    "Write-off": 16
  },
  {
    "month": "Apr",
    "Referral": 60,
    "Payments": 80,
    "Adjustments": 30,
    "Write-off": 12
  },
  {
    "month": "May",
    "Referral": 80,
    "Payments": 20,
    "Adjustments": 50,
    "Write-off": 30
  },
  {
    "month": "Jun",
    "Referral": 90,
    "Payments": 40,
    "Adjustments": 60,
    "Write-off": 22
  },
  {
    "month": "Jul",
    "Referral": 95,
    "Payments": 15,
    "Adjustments": 15,
    "Write-off": 25
  }
]


function horizontalBar(config, data) {

 var elementId = config.chartSetting.elementId;

    var margin = config.chartSetting.margin
        width = config.chartSetting.width - margin.left - margin.right,
        height = config.chartSetting.height - margin.top - margin.bottom,
        colorArray = config.chartSetting.colorArray;

        var svg = d3.select("#" + elementId).append("svg")
                  .attr("viewBox", "0 0 "+(width + margin.left + margin.right)+' '+(height + margin.top + margin.bottom))
                 .append("g")
                   .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


        var x = d3.scale.linear()
            .range([0, width])
            .domain([0, d3.max(data, function (d) {
                return d.Referral;
            })]);

        var y = d3.scale.ordinal()
            .rangeRoundBands([height, 0], .1)
            .domain(data.map(function (d) {
                return d.month;
            }));

        //make y axis to show bar names
        var yAxis = d3.svg.axis()
            .scale(y)
            //no tick marks
            .tickSize(0)
            .orient("left");

        var gy = svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");


        var gx =  svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis)

        var bars = svg.selectAll(".bar")
            .data(data)
            .enter()
            .append("g")

        //append rects
        bars.append("rect")
            .attr("class", "bar")
            .attr("y", function (d) {
                return y(d.month);
            })
            .attr("height", y.rangeBand())
            .attr("x", 0)
            .attr("fill", "#5f89ad")
            .attr("width", function (d) {
                return x(d.Referral);
            });

        //add a value label to the right of each bar
        bars.append("text")
            .attr("class", "label")
            //y position of the label is halfway down the bar
            .attr("y", function (d) {
                return y(d.month) + y.rangeBand() / 2 + 4;
            })
            //x position is 3 pixels to the right of the bar
            .attr("x", function (d) {
                return x(d.Referral) - 3;
            })
            .attr("text-anchor", "end")
            .attr("fill", "#fff")
            .text(function (d) {
                return d.Referral;
            });
        

$('rect').tipsy({ 
        gravity: 'w', 
        html: true, 
        title: function() {
          var d = this.__data__;
          return (d.month)+"<br/> Referral : "+(d.Referral)+"%";
        }
     });

}

var config = {
    chartSetting : {
        elementId : "chart1",
        adaptive: "true",
        width : 960,
        height : 425,
        margin : { 
            top: 40,
            right: 40,
            bottom: 25,
            left: 40
        },
        colorArray : ["#69d900", "#00a3d9", "#00d3a9", "#ffd24d"],
       
    }
    
}    
horizontalBar(config, data);

</script>
</body>
</html>